body {
  background-color: #e8eaf5;
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
}

.header {
  width: 60%;
  height: 200px;
  margin: 2% auto;
  background: linear-gradient(45deg, #6d45fd, #a13cff);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.logo-icon {
  color: #ffffff;
  font-size: 100px;
  margin-top: 10px;
}

.balance-info {
  font-size: 26px;
  color: #ffffff;
}

.main-content {
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.incomes,
.expenses {
  width: 100%;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);
}

.incomes-title,
.expenses-title {
  font-size: 18px;
  font-weight: 700;
  color: #6d45fd;
  margin-bottom: 8px;
}

form {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.new-item {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.edit-input {
  width: 50%;
}

.btn-div {
  display: flex;
  gap: 8px;
}

.add-btn,
.edit-btn,
.delete-btn,
.save-btn {
  width: 50px;
  padding: 3px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(45deg, #6d45fd, #a13cff);
  color: #ffffff;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
  }

  .incomes,
  .expenses {
    width: 49%;
  }
}
